/**
 * Define variables for font-icon
 */

font-icon--prefix      ?= 'icon'
font-icon--font-family ?= 'shoelace'
font-icon--path        ?= 'fonts/shoelace.woff'
font-icon--icons       ?= {
  'search': '\f002'
  'heart': '\f004'
  'user': '\f007'
  'home': '\f015'
  'left': '\f053'
  'right': '\f054'
  'ex': '\f057'
  'bell': '\f0a2'
  'flask': '\f0c3'
  'navicon': '\f0c9'
}
